.nav{
    padding: 10%;
}

button{
    min-width: 50px;
}

.butt {
    padding-left: 30px;
    width: 50%;
}

.full-width {
    width: 100%;
  }
  
  .shipping-card {
    margin: auto;
    width: 60%;
    margin-top: 85px;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  